@tailwind base;
@tailwind components;
@tailwind utilities;

/* SweetAlert2 styles */
@import 'sweetalert2/dist/sweetalert2.min.css';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 24, 24, 27;
    --background-end-rgb: 24, 24, 27;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  overflow: hidden; /* Mencegah scroll pada halaman drawing */
}

/* Hide scrollbar logic */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}